In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Q1

In [14]:
print('Numpy Version= '+np.__version__)

Numpy Version= 1.20.3

## Q2

In [15]:
print('Pandas Version= '+pd.__version__)

Pandas Version= 1.3.2

In [29]:
df = pd.read_csv(r'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [40]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

61546.76347305389

## Q3

In [45]:
df[df['Make'] == 'BMW'].MSRP.mean()

61546.76347305389

## Q4

In [55]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [104]:
df[
    (df['Year'] >= 2015) & (df['Engine HP'].isnull()) 
];

In [105]:
df[
    (df['Year'] >= 2015)  ].isnull().sum() ;

In [97]:
df["Engine HP"].isnull().sum()

69

In [103]:
sum((df["Engine HP"].isnull()) & (df["Year"] >= 2015))

51

## q5

In [110]:
mean_hp_before = df['Engine HP'].mean()

mean_hp_before

249.38607007176023

In [116]:
mean_hp_after = (df["Engine HP"].fillna(mean_hp_before)).mean()


mean_hp_after = mean_hp_after.mean()

In [117]:
mean_hp_after

249.38607007176

In [118]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

## question 6

In [142]:
df[df['Make'] == "Rolls-Royce"];

In [137]:
newdf = df[['Make', 'Engine HP', 'Engine Cylinders', 'highway MPG']]

In [139]:
newdf = newdf[newdf['Make'] == "Rolls-Royce"]

In [151]:
newdf = newdf[['Engine HP', 'Engine Cylinders', 'highway MPG']]

In [152]:
newdf.drop_duplicates()

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [153]:
X = newdf.drop_duplicates()

In [154]:
X.T;

                  2921   3505   5275   5279   7443   7553   11448
Engine HP         325.0  563.0  563.0  563.0  322.0  453.0  624.0
Engine Cylinders    8.0   12.0   12.0   12.0   12.0   12.0   12.0
highway MPG        15.0   19.0   21.0   20.0   15.0   19.0   21.0

In [158]:
TXT = np.dot(X,(X.T))
TXT

array([[105914., 183356., 183386., 183371., 104971., 147606., 203211.],
       [183356., 317474., 317512., 317493., 181715., 255544., 351855.],
       [183386., 317512., 317554., 317533., 181745., 255582., 351897.],
       [183371., 317493., 317533., 317513., 181730., 255563., 351876.],
       [104971., 181715., 181745., 181730., 104053., 146295., 201387.],
       [147606., 255544., 255582., 255563., 146295., 205714., 283215.],
       [203211., 351855., 351897., 351876., 201387., 283215., 389961.]])

In [160]:
InvTXT = np.linalg.inv(TXT)

In [162]:
np.sum(InvTXT)

2518399783.0

## Q7

In [163]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

I'm sorry I don't have much time to understand the last question.